<!DOCTYPE html>

<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title></title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="">
        <h2>Final Result</h2>
    </head>
    <body>
        
        <!-- {% if result >= 50 %}
        <h1>You passed the exam</h1>
        {% else %}
        <h1>Sorry! but you have to give the exam once again</h1>
        {% endif %} -->
    <table>
        {% for key, value in result.items() %}
        <tr>
            <th>{{ key }}</th>
            <th>{{ value }}</th>
        </tr>
        {% endfor %}
    </table>

        
        <script src="" async defer></script>
    </body>
</html>